/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap
 *= require_self
 *= require accordion
 */

body #page-wrapper{
  margin: 0 5% 0 5%;
  border: 0px;
}

.padded-wrapper{
  padding: 5%;
}


.input-group-btn{
  width: 0%;
}

#video{
  padding: 30px;
}

hr{
  margin-top: 0px;
}